<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
    
    <title>Group Chat</title>
</head>
<script>
    $(document).ready(function(){
        var name= prompt("Welcome to my Chat! \nplease enter your Name to Join");
        var username;
        var socket = io();
        
       if(name){
        socket.emit('new_user_in',name)
        $('#username').text(name);
        }


        socket.on('logdUsers',function(users){
        $("#users").text("");
        for(var user of users){
            $("#users").append(user.name+"<br>")
        }
        
    })
    
        socket.on('lodChat',function(chat){
            $('#chatText').html('');
            $('#chatText').append(chat)
            var element = document.getElementById("chat");
            element.scrollTop=element.scrollHeight;
        })

    $('form').submit(function(){
        msg=username+": "+$('input').val();
        console.log(msg);
        socket.emit('newMsg',msg);
        $('#chatText').append(msg+"<br>")
        $('input').val("");
        var element = document.getElementById("chat");
        element.scrollTop=element.scrollHeight;
        
        
              

        return false;
    })
     
    socket.on('sinUser',function(uName){
        username=name;
    })

    socket.on('dispMsg',function(data){
    $('#chatText').append(data+"<br>")
    
    })
    
    });
    

    
</script>





<body>
    <h1>Welcome <span id="username"></span> </h1>
    <h2>Online Useres:</h2>
    <div id="loggedUsers" style="overflow: scroll;width: 200px; height: 150px;">
        <p id="users"></p>
    </div>

    <h2>Chat:</h2>
    <div id="chat"  
    style="outline: solid 2px black ; width: 400px ;
    height:200px; overflow-y: scroll; padding-left: 10px ;" >
        <h3 id="chatText"></h3>
       
    </div>

    <br>
    <form action="">

    Message: <input type="text" id="msg"><br>
    <button>Send</button>
    </form>
</body>
</html>