<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
    <link rel="stylesheet" href="stylesheet.css">
    <title>Group Chat</title>
</head>
<script>
    $(document).ready(function(){
        var name= prompt("Welcome to my Chat! \nplease enter your Name to Join");
        var username;
        var socket = io();
        
       
        if(name){
        socket.emit('new_user_in',name)
        $('#username').text(name);
        socket.on('logdUsers',function(users){
        $("#users").text("");
        for(var user of users){
            $("#users").append("&#9899 "+user.name+"<br>")
        }
        
        })
        }

        else{
            alert("Error! Name can't Be Empty!\nThanks for visiting My Chat")
          
            return false;

        }


    
        socket.on('lodChat',function(chat){
            $('#chatText').html('');
            $('#chatText').append(chat)
            var element = document.getElementById("chatText");
            element.scrollTop=element.scrollHeight;
        })

    $('form').submit(function(){
        msg=username+": "+$('input').val();
        console.log(msg);
        socket.emit('newMsg',msg);
        $('#chatText').append("Me: "+$('input').val()+"<br>")
        $('input').val("");
        var element = document.getElementById("chatText");
        element.scrollTop=element.scrollHeight;
        
        
              

        return false;
    })
     
        socket.on('sinUser',function(uName){
            username=name;
        })

        socket.on('dispMsg',function(data){
        $('#chatText').append(data+"<br>")
        
        })
    
    });
    

    
</script>

<body>
    <h1>Welcome: <span id="username" style="color: black"></span> </h1>
    <div id="loggedUsers">
            <h2>Online Users:</h2>
        <p id="users"></p>
    </div>

    <div id="chat">
            <h2>CHAT</h2>
        <h3 id="chatText"></h3>
        <form action="">
        <span >Message: </span> <input type="text" id="msg">
        <button>Send</button>
        </form>
    </div>
    <br>
    

    <footer>
        
        <p>Copyright &#169 2018 Coding Dojo. All rights reserved .</p>
        <p>Posted by: <a href="https://www.linkedin.com/in/ali-bayati-ba9518134">
            Ali Bayati</a> </p>
          </footer>
</body>
</html>